.logo {
    margin-left: px;
}

a {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
}

.son2 {
    gap: 5px;
    margin-right: 150px;
    border-radius: 8px;
    
} 
 
.button1 {
    height: 50px;
    width: 80px;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    
}
.button2 {
    height: 50px;
    width: 170px;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
}

body {
  font-family:  "plus Jakarta sans", sans-serif;
  background-color: whitesmoke;
} 


.cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
    border-radius: 10px;
    
}
.card-bottom {
    display: flex;
    margin-top: 195px;
    gap: 15px;
    

} 
.card-bottom2 {
    display: flex;
    margin-top: 210px;
    gap: 10px;
    

}  


.phone {
    margin-top: -132px;
    padding-left: 50px;
     position: absolute; 
     
}
    
.phone1 {
  margin-top: -125px;
  margin-left: 65px;
  display: block;
}

.phone2 {
    margin-left: 180px;
    margin-top: 83px;
}

.phone3 {
    margin-top: -176px;
    margin-left: 180px;
} 

.phone4 {
    margin-top: -157px;
    margin-left: 175px;
}

.phone5 {
    margin-top: -175px;
    margin-left: 175px;
}

.bottom3 {
    display: flex;
    position: absolute; 
    gap: 10px;
    margin-top: 220px;
} 

.twins { 
 margin-bottom: 40px; 

}  

.bottom4 {
    display: flex;
    margin-top: 200px;
    gap: 15px;
}

.bottom5 {
    display: flex;
    margin-top: 200px;
    gap: 15px;
}

.bottom6 {
    display: flex;
    margin-top: 220px;
    gap: 15px
} 

.text-5 {
    margin-top: 20px;
}


.text-3 {
    padding-top: 10px;
}


.card {
    height: 400px;
    width: 400px;
    background-color:  white;
    border-radius: 10px;
    padding: 15px 10px 10px 30px;
    line-height: 22px;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer; 
    
}



.card1:hover {
    background-color: #0F60DC;
    
}

.card:hover p {
color: white;
} 

.card:hover .icon{
    content: url(../images/reply-white.png)
}

 .card2:hover .icon1 {
    content: url(../images/reply-white.png);
} 

.last-div1:hover .icon4 {
    content: url(../images/reply-white.png);
}

.last-div2:hover .icon5 {
    content: url(../images/reply-white.png);
}

.card:hover span {
   color: white; 
}

.card2:hover {
    background-color: #2295F2;
    
}



.big-div {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
    
    
}

.small-div {
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px; 
    padding: 15px 10px 10px 30px;  
    line-height: 22px;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
}   


.small-div p {
    font-size: 30px;
    font-weight: bolder;
    

}

/* .text3 {
    padding-left: 20px;
} */

.loud:hover  {
    background-color: #069B40 ;
    color: white;
} 
.loud:hover p {
    color: white;
}
.loud p , .text-3 {
    color: #069B40;
}

.loud:hover .icon2 {
    content: url(../images/reply-white.png);
}

.loud:hover .text-3 {
    color: white;
}

/* .pflex:hover {
    color: white;
} */

.low p , .text-4{
    color: #E5288E;
}

.low:hover .text-4 {
    color: white;
}

.text-4 {
    padding-top: 5px;
}

.text-6 {
    padding-top: 5px;
}

/* .low:hover p , .text-4 {
    color: white;
} */

.low:hover  .icon3 {
    content: url(../images/reply-white.png);
}

.low:hover {
    background-color: #E5288E;
    color: white;  
}  
 
.last-divs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;

    
}


.last-div2:hover {
    background-color: #FF783C;
    color: white;
}

.last-div2 p , .text-6 {
    color: #FF783C;
}

.last-div2:hover p {
    color: white;
} 


.last-div2:hover .text-6 {
    color: white;
}

.last-div {
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    line-height: 22px;
    justify-content: space-around;
    padding: 15px 10px 10px 30px;
    flex-direction: column;
}

.last-div1:hover {
    background-color: black;
    color: white;
}

.last-div p {
    font-size: 30px;
    font-weight: bolder;
}


.card1 p, .text1 {
    
    color: rgb(61, 61, 104);
}

.card p {
    font-size: 30px;
    font-weight: bolder;
}

.card2 p, .text2 {
    
    color: #0F60DC;
} 

.parent {
    justify-content: space-between;
    margin-left: px;
    /* position: sticky; */
    top: 0;
    /* background-color: #fff;  */
    padding: 20px 0;
    z-index: 1;
}

.parent #logo {
    margin-left: 80px;
}

.container {
    display: flex;
}

.son2 {
    margin-top: -70px;
    margin-left: 1000px;
}

.container a {
    margin-left: 50px;
}

.center-div {
    display: flex;
    justify-content: center;
    
} 
.content {
    text-align: center;
    line-height: 2px;

}

.span1 {
   font-size: 20px;
}
.content p  {
    font-size: 46px;
    font-weight: bolder;
     /* font-family: 'plus jakarta sans, san-sheriff'; */
}   

.content
/* .logo-text {
    display: flex;
   font-weight: 2px;
  font-size: medium;
  margin-top: 120px;
}  */
/* .text {
    padding-left: 8px;
    padding-top: 100px; */


.logo {
    font-weight: 1px;
    /* height: 3px; */
    font-size: small;
    padding-top: 95px;


} 

.link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-weight: normal;
}

/* .href-2 {
    padding-left: -5600px;
} */


.card:hover {
    display: block;
    justify-content: center;
}

.hero {
    display: flex;
    margin-top: 100px;
    justify-content: left;
    margin-left: 90px;

}

.hero-button {
    border: none;
    border-radius: 30px;
    background-color: #2295F2;
    color: white;
    font-weight: 600;
    padding: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.hero-button:hover {
    background-color: black;
}

.hero-button:hover .btn-image {
    content: url(../images/chevron_right_24dp_00D7EA_FILL0_wght400_GRAD0_opsz24.png);
    justify-items: stretch;
}


.hero-button:hover .save {
    content: url(../images/save_24dp_FFFF_FILL0_wght400_GRAD0_opsz24.png);
}

.better-way  {
    font-size: 40px;
    font-weight: bold;
    color: gray;
}

.hero-text {
    font-weight: 20px;
    color: gray;
    line-height: 30px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.ease {
    line-height: 30px;
    color: gray;
}

.hero-buttons button {
    border: none;
    border-radius: 15px;
    background-color: #122231;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;

}

.hero-section1 {
    margin-top: 100px;
}

.section-1 {
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: right; 
    margin-top: -500px;
    margin-right: 120px; 
    margin-bottom: 70px;
}
 
.section-background {
    width: 480px;
    height: 480px;
    background-image: url(../images/image_fx.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    display: flex;
}
 
.section-img-1 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 30px;
    position: absolute;
    margin-left: -50px;

}

.section-img-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    left: 350px;
    gap: 150px;

}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown-items {
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    display: none;
    position: absolute;
}

.dropdown-item-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-wrapper:hover .dropdown-items {
    display: flex;

}

.item {
    display: flex;
    gap: 5px;
    padding: 10px 15px 10px;
    margin-top: 15px;
}

.icon {
    
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.icon1 {
    background-color: #EFF6FF;
}

.icon-text-1 {
    font-size: 15px;
    font-weight: bold;
    /* padding-right: 150px; */
}
    

.icon-text {
    font-size: 10px;
}

.item:hover {
    background-color: #EDF0F0;
    
    .icon-text-1 {
        color: #2295F2;
    }

    .icon-text-2 {
        color: #39c277;
    }
}

.item-texts {
    line-height: 15px;

}

.icon2 {
    background-color: #ddf5e8;
}

.item-texts .icon-text-1 {
       padding-left: -100px;
}